<div class="row">
  <div class="col-md-12" style="margin-bottom: 20px">
    <button class="btn btn-primary btn-margin" routerLink="/timesheets/add">
          New Timesheet Entry
      </button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tr *ngFor="let timesheet of timesheets">
        <td>{{ timesheet.project }}</td>
        <td>{{ timesheet.date }}</td>
        <td>{{ timesheet.hours }}</td>
      </tr>
    </table>
    <div class="alert alert-danger" *ngIf="error">{{ error }}</div>
  </div>
</div>